name: Meu Primeiro Workflow

on:
  push:
    branches:
      - main

jobs:
  hello:
    runs-on: ubuntu-latest

    steps:
      - name: Exibir mensagem
        run: echo "Pipeline iniciado com sucesso"
